__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.venv/
.env

*.fits

!examples/
!20260326/
!20260326/*.fits

*.ec.fits
*.log

database/
backup/
final_spectra/
bias/
flat/
objects/
thar/
trz/

.ipynb_checkpoints/
.DS_Store
